* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #000;
    margin: 20px;
}

img {
    border: 2px;
    border-style: solid;
    border-color: #fff;
}

a:hover {
    color: rgb(184, 184, 184);
}

#home-list {
    list-style: none;
}